.lose-container {
    &__data {
        display: flex;
        padding: 30px;
    }
    &__photo {
        flex: 2;
        background-color: #fff;
        margin-right: 20px;
        box-shadow: 10px 10px 0 0 #aeaeae;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }
    &__info {
        background-color: #fff;
        flex: 6;
        padding: 10px;
        border-radius: 10px;
    }
    &__form-data {
        display: flex;
    }
    &__row {
        width: 50%;
    }
    &__name {
        font-family: 'highliner';
        text-transform: uppercase;
        color: #f07d10;
        text-align: center;
        font-size: 6em;
    }
    &__name {

    }
    &__name {

    }
}